<!DOCTYPE html>
<html lang='ja'>
  <head>
    <title>MonthCal</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
    	<div class="container">
    		<%= link_to root_path do %>
        	<span><%= image_tag "monthcal.png", class: "navbar-brand" %></span>
        <% end %>
        <ul class="nav ul-list">
          <% if logged_in? %>
            <span>現在のcurrent_user.idは<%= @current_user.id %></span>
            <li>
          	  <%= link_to @current_user.name, "/users/#{@current_user.id}" %>
          	</li>
            <li>
          	  <%= link_to 'マイスケジュール', schedules_path %>
          	</li>
          	<li>
              <%= link_to 'ログアウト', logout_path, method: :delete %>
            </li>
          <% else %>
          	<li>
          	  <%= link_to 'アカウント作成', new_user_path %>
        	  </li>
          	<li>
          	  <%= link_to 'ログイン', login_path %>
        	  </li>
        	<% end %>
        </ul>
    	</div>
    </div>
    
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert">
        <%= value %>
      </div>
    <% end %>
    
    <%= yield %>
    
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>
